<section class="container">
  <h1>Sign Up</h1>

  <p>Users get the following benefits:</p>
  <ul>
    <li>Add and edit markup samples</li>
    <li>Vote on the best markup samples</li>
    <li>Save markup samples to your own personal collection</li>
    <li>Join in the discussion</li>
  </ul>

  <div class="row">
    <div class="col-sm-6">
      <h1>GitHub</h1>
      <p>Sign in with your GitHub account</p>
      <a
        href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= ENV['github_client_id'] %>" 
        class="btn btn-lg btn-primary">
        Sign Up
      </a>
    </div>
    <div class="col-sm-6">
      <h1>Stack Exchange</h1>
      <p>Sign in with your Stack Exchange account</p>
      <button class="btn btn-lg btn-primary">Sign Up</button>
    </div>
  </div>
</section>
