<section class="container">
  <h1>Sign In</h1>

  <div class="row">
    <div class="col-sm-6">
      <h1>GitHub</h1>
      <p>Sign in with your GitHub account</p>
      <a href="<%= @urls[:github] %>" class="btn btn-lg btn-primary">Sign In</a>
    </div>
    <div class="col-sm-6">
      <h1>Stack Exchange</h1>
      <p>Sign in with your Stack Exchange account</p>
      <a href="<%= @urls[:stackex] %>" class="btn btn-lg btn-primary">Sign In</a>
    </div>
  </div>

  <p>
    If you don’t already have an account, <a href="/sign-up">sign up here</a>.
  </p>
</section>
