<section class="search-input">
  <h1>Search</h1>

  <div class="search">
    <input type="search" class="form-control" placeholder="Search by text or [tag name]">
    <button class="btn btn-lg btn-primary">Search</button>
  </div>
</section>

<section class="search-results">
  <!-- TODO: This header needs work -->
  <header>
    <h3>4 results</h3>
    <p>
      Containing:
      search terms
    </p>
    <p>
      Tagged with:
    </p>
    <ul>
      <li>Tag Name</li>
      <li>Tag Name</li>
    </ul>
  </header>

  <!-- Articles list -->
  <article>
    <header>
      <a href="/snippets/1" class="big-link">Snippet name goes here</a>
    </header>
    <p>
      <strong>34</strong>
      <small>votes</small>
    </p>
    <p>
      <strong>23</strong>
      <small>faves</small>
    </p>
    <p>
      Summary of snippet description to help users understand what’s offered.
    </p>
    <ul>
      <li>Tag One</li>
      <li>Tag Two</li>
      <li>Tag Three</li>
    </ul>
    <footer>
      <time datetime="2001-05-15 19:00">4 days ago</time>
      /
      <cite>Johnny User</cite>
    </footer>
  </article>

  <footer>
    <!-- Pagination goes here -->
  </footer>
</section>
