<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Edit Snippet</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @snippet %> |
    <%= link_to 'Back', snippets_path %>
  </div>
</div>
