<h1>Semantic Benefits</h1>

<section>
  <h2>What Is Semantic Markup?</h2>
  <p>
    Semantic markup makes the web a better place for humans and robots. Markup that is semantic clearly describes the meaning of the page content. When markup is semantic, it’s easier to understand, maintain, and share.
  </p>
</section>

<section>
  <h2>Who benefits from semantic markup?</h2>
  <section>
    <h3>Users</h3>
    <p></p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <section>
    <h3>Developers</h3>
    <p></p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <section>
    <h3>Organizations</h3>
    <p></p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
</section>
