<article>
  <header>
    Re: <a href="/snippets/1" class="big-link">Snippet name goes here</a>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
  </p>
  <footer>
    <time datetime="2001-05-15 19:00">4 days ago</time>
    /
    <cite>Johnny User</cite>
  </footer>
</article>
