
<h1>User Show</h1>

<p>
  Display name: <%= @user.display_name %>
</p>

<p>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
</p>

<p>
  <%= link_to "Delete Profile", @user, :method => :delete %>
</p>
