<div class="jumbotron">
  Find the best examples of semantic markup, contributed and curated by developers like you.

  <input type="search" class="form-control" placeholder="Search by text or [tag name]">
  <button class="btn btn-lg btn-primary">Search</button>
</div>

<section class="quick-search row">
  <h2>Quick Searches</h2>
  <section class="col-sm-6">
    <h3>Content Tags</h3>
    <ul>
      <li>Blog post</li>
      <li>News article</li>
      <li>Comment</li>
      <li>Page header</li>
      <li>Page footer</li>
      <li>Page navigation</li>
    </ul>
  </section>
  <section class="col-sm-6">
    <h3>HTML5 Elements</h3>
    <ul>
      <li>article</li>
      <li>section</li>
      <li>nav</li>
      <li>header</li>
      <li>footer</li>
      <li>main</li>
    </ul>
  </section>
</section>

<section class="semantic-markup">
  <h2>What Is Semantic Markup?</h2>
  <p>
    Semantic markup makes the web a better place for humans and robots. Markup that is semantic clearly describes the meaning of the page content. When markup is semantic, it’s easier to understand, maintain, and share.
  </p>
  <a href="/semantic/benefits" class="btn btn-lg btn-primary">Learn More</a>
</section>
